.popup {
    background: rgb(255, 255, 255);
    max-height: 80vh;
    max-width: 1200px;
    h1 {
        font-size: 50px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
        color: white;
        text-align: center;
    }
    overflow: hidden;
    overflow-y: auto;
    background-image: linear-gradient(
        to top, #e6b980 0%, #eacda3 100%);
        Button {
            display: block;
            margin: 0 auto;
        }
}

.abilities {
    background:rgb(255, 255, 255);
    max-width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.textBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h3 {
        font-style: oblique;
    }
}

.picture-rotation {
    max-width: 100%;
    img {
        width: 200%;
    }
}
