.popup {
    background: rgb(255, 255, 255);
    height: 50vh;
    max-width: 1200px;
    h1 {
        font-size: 50px;
        text-align: center;
    }
    img {
        width: 20%;
        
    }
}

.abilities {
    background:lightblue;
    width: 20rem;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

.picture-rotation {
    width: 10%;
    img {
        width: 100%;
    }
}