.popup {
    background: rgb(255, 255, 255);
    max-height: 80vh;
    max-width: 1200px;
    h1 {
        font-size: 50px;
        text-align: center;
    }
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(139, 185, 226));
}

.abilities {
    background:rgb(255, 255, 255);
    max-width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.textBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h3 {
        font-style:oblique;
    }
}

.picture-rotation {
    max-width: 20%;
    img {
        width: 200%;
    }
}
